{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag: preload: true  }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag: preload: true  }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag: preload: true  }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag: preload: true  }}
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {% if section.settings.image != blank %}
    <div class="footer_logo_block">
      {{ section.settings.image | image_url: width: 1080 | image_tag:
        width: nil,
        height: nil}}
    </div>
  {% endif %}
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item {% if block.type == 'brand_information' %} footer-block--brand_information{% endif %} {% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                      {%- if block.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}
                    </div>
                  
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              <li class="footer_payment_list"><svg width="560" height="46" viewBox="0 0 560 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.895522" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="0.895522" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M44.48 10.0696H40.8825L39.0021 15.4658L37.0399 10.0696H33.3608V18.4718L29.5998 10.0696H26.5748L22.8138 18.6542H25.43L26.1659 16.9374H30.0904L30.8262 18.6542H35.7318V12.6858L37.9392 18.6542H39.9832L42.1906 12.6858V18.6542H44.48V19.9623H41.4548L39.0021 22.6604L36.4676 19.9623H26.0842V28.547H36.3859L38.9202 25.7673L41.4548 28.547H44.48V29.6097H40.8825L38.9202 27.4841L36.958 29.6097H24.7761V19.7988H20.8516L25.7571 8.76123H30.4991L32.216 12.5222V8.76123H38.1028L39.0838 11.6229L40.065 8.76123H44.48V10.0696ZM44.48 21.8427L42.2725 24.2137L44.48 26.5847V28.547L40.4738 24.2137L44.48 19.9623V21.8427ZM33.3608 28.547V26.5031H28.4552V25.195H33.2789V23.2327H28.4552V21.9246H33.3608V19.9623L37.4486 24.2137L33.3608 28.547ZM26.9017 15.0568L28.0465 12.277L29.191 15.0568H26.9017Z" fill="#DDDAD3"/>
<rect x="52.3582" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="52.3582" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path d="M66.3128 15.3326C66.6027 14.97 66.7995 14.483 66.7476 13.9854C66.3231 14.0065 65.8052 14.2654 65.5053 14.6284C65.236 14.9392 64.9977 15.4466 65.0598 15.9233C65.5363 15.9647 66.0123 15.6852 66.3128 15.3326Z" fill="#DDDAD3"/>
<path d="M66.7422 16.0164C66.0502 15.9752 65.4619 16.4092 65.1314 16.4092C64.8008 16.4092 64.2948 16.0372 63.7474 16.0472C63.0351 16.0577 62.3741 16.4605 62.0126 17.1011C61.2691 18.3826 61.8164 20.2835 62.5394 21.3273C62.8906 21.8436 63.3137 22.4122 63.8713 22.3918C64.3981 22.3711 64.6046 22.0506 65.245 22.0506C65.8849 22.0506 66.0709 22.3918 66.6286 22.3814C67.207 22.3711 67.5685 21.8648 67.9196 21.3479C68.3224 20.7593 68.4873 20.1909 68.4977 20.1597C68.4873 20.1494 67.3825 19.7256 67.3723 18.4547C67.3619 17.3906 68.2397 16.8844 68.281 16.853C67.7853 16.1199 67.0107 16.0372 66.7422 16.0164Z" fill="#DDDAD3"/>
<path d="M72.7674 14.5763C74.2714 14.5763 75.3187 15.613 75.3187 17.1224C75.3187 18.6372 74.2498 19.6793 72.7297 19.6793H71.0644V22.3275H69.8613V14.5763L72.7674 14.5763ZM71.0644 18.6694H72.4449C73.4924 18.6694 74.0886 18.1055 74.0886 17.1278C74.0886 16.1502 73.4924 15.5916 72.4503 15.5916H71.0644V18.6694Z" fill="#DDDAD3"/>
<path d="M75.633 20.7214C75.633 19.7329 76.3904 19.126 77.7334 19.0508L79.2802 18.9595V18.5244C79.2802 17.8959 78.8559 17.5199 78.147 17.5199C77.4754 17.5199 77.0564 17.8422 76.9544 18.3472H75.8586C75.9231 17.3265 76.7932 16.5745 78.1899 16.5745C79.5596 16.5745 80.4351 17.2997 80.4351 18.4331V22.3274H79.3231V21.3982H79.2964C78.9688 22.0267 78.2543 22.4241 77.5131 22.4241C76.4065 22.4241 75.633 21.7365 75.633 20.7214ZM79.2802 20.2111V19.7653L77.889 19.8512C77.196 19.8996 76.804 20.2057 76.804 20.6892C76.804 21.1833 77.2122 21.5056 77.8353 21.5056C78.6464 21.5056 79.2802 20.9469 79.2802 20.2111Z" fill="#DDDAD3"/>
<path d="M81.4848 24.4063V23.4662C81.5706 23.4877 81.764 23.4877 81.8607 23.4877C82.3979 23.4877 82.688 23.2621 82.8651 22.682C82.8651 22.6712 82.9673 22.3382 82.9673 22.3328L80.9262 16.6766H82.183L83.6119 21.2747H83.6333L85.0623 16.6766H86.2869L84.1704 22.6228C83.6872 23.9927 83.1285 24.4331 81.9575 24.4331C81.8607 24.4331 81.5706 24.4223 81.4848 24.4063Z" fill="#DDDAD3"/>
<g filter="url(#filter0_dd_1_4)">
<rect x="103.925" y="5" width="43.46" height="27.9983" rx="5.01462" fill="#485047"/>
<rect x="103.821" y="4.89553" width="43.6689" height="28.2072" rx="5.11909" stroke="#DDDAD3" stroke-width="0.208942"/>
<path d="M114.438 23.8263C114.438 24.217 114.717 24.2622 114.965 24.2622C116.061 24.2622 116.42 23.4361 116.42 22.6803C116.42 21.7327 115.812 21.0482 114.834 21.0482C114.626 21.0482 114.53 21.0627 114.438 21.0682V23.8263ZM113.941 21.448C113.941 20.9921 113.703 21.0221 113.475 21.017V20.886C113.673 20.8951 113.875 20.8951 114.073 20.8951C114.286 20.8951 114.575 20.886 114.951 20.886C116.263 20.886 116.978 21.7624 116.978 22.6604C116.978 23.1623 116.685 24.4247 114.89 24.4247C114.632 24.4247 114.393 24.415 114.155 24.415C113.926 24.415 113.703 24.4202 113.475 24.4247V24.2925C113.779 24.2622 113.926 24.2521 113.941 23.9075V21.448Z" fill="#DDDAD3"/>
<path d="M117.699 21.3269C117.567 21.3269 117.45 21.205 117.45 21.0734C117.45 20.9464 117.572 20.8294 117.699 20.8294C117.83 20.8294 117.948 20.9361 117.948 21.0734C117.948 21.2102 117.836 21.3269 117.699 21.3269ZM117.156 24.2926H117.253C117.394 24.2926 117.496 24.2926 117.496 24.1247V22.7514C117.496 22.5283 117.42 22.4977 117.232 22.397V22.3158C117.47 22.2442 117.754 22.1487 117.775 22.1327C117.81 22.1129 117.84 22.1078 117.866 22.1078C117.891 22.1078 117.901 22.1378 117.901 22.1785V24.1247C117.901 24.2926 118.013 24.2926 118.155 24.2926H118.241V24.4248C118.069 24.4248 117.891 24.4148 117.709 24.4148C117.526 24.4148 117.344 24.4199 117.156 24.4248V24.2926Z" fill="#DDDAD3"/>
<path d="M118.723 22.7815C118.723 22.5945 118.667 22.5436 118.429 22.4478V22.3508C118.647 22.2799 118.854 22.2134 119.098 22.1076C119.113 22.1076 119.128 22.1177 119.128 22.1576V22.4881C119.418 22.2799 119.666 22.1076 120.006 22.1076C120.437 22.1076 120.589 22.4217 120.589 22.8173V24.1248C120.589 24.2928 120.701 24.2928 120.842 24.2928H120.934V24.4246C120.756 24.4246 120.578 24.415 120.396 24.415C120.214 24.415 120.031 24.4201 119.849 24.4246V24.2928H119.94C120.082 24.2928 120.183 24.2928 120.183 24.1248V22.8125C120.183 22.523 120.006 22.3814 119.717 22.3814C119.554 22.3814 119.296 22.513 119.128 22.6248V24.1248C119.128 24.2928 119.241 24.2928 119.382 24.2928H119.474V24.4246C119.296 24.4246 119.118 24.415 118.935 24.415C118.753 24.415 118.571 24.4201 118.388 24.4246V24.2928H118.48C118.622 24.2928 118.723 24.2928 118.723 24.1248V22.7815Z" fill="#DDDAD3"/>
<path d="M122.217 22.8628C122.343 22.8628 122.358 22.7971 122.358 22.7364C122.358 22.4773 122.201 22.2696 121.917 22.2696C121.608 22.2696 121.395 22.4976 121.334 22.8628H122.217ZM121.319 23.0256C121.309 23.0711 121.309 23.147 121.319 23.3194C121.349 23.8014 121.659 24.1967 122.064 24.1967C122.343 24.1967 122.562 24.0442 122.749 23.8569L122.82 23.9278C122.587 24.2371 122.298 24.5005 121.882 24.5005C121.076 24.5005 120.914 23.7199 120.914 23.3955C120.914 22.4017 121.583 22.1077 121.937 22.1077C122.348 22.1077 122.79 22.366 122.795 22.9032C122.795 22.9344 122.795 22.9644 122.79 22.9951L122.744 23.0256H121.319Z" fill="#DDDAD3"/>
<path d="M122.911 24.2926H123.048C123.19 24.2926 123.291 24.2926 123.291 24.1247V22.7005C123.291 22.5438 123.104 22.5132 123.028 22.4722V22.3971C123.398 22.2394 123.601 22.1079 123.647 22.1079C123.677 22.1079 123.692 22.1224 123.692 22.1736V22.6296H123.703C123.829 22.4322 124.042 22.1079 124.351 22.1079C124.478 22.1079 124.64 22.1934 124.64 22.3762C124.64 22.5132 124.544 22.6353 124.402 22.6353C124.244 22.6353 124.244 22.5132 124.067 22.5132C123.981 22.5132 123.697 22.6296 123.697 22.9345V24.1247C123.697 24.2926 123.798 24.2926 123.94 24.2926H124.224V24.4249C123.945 24.42 123.733 24.4148 123.515 24.4148C123.307 24.4148 123.094 24.42 122.911 24.4249V24.2926Z" fill="#DDDAD3"/>
<path d="M124.863 23.72C124.929 24.0544 125.132 24.3387 125.502 24.3387C125.801 24.3387 125.912 24.1559 125.912 23.9785C125.912 23.3805 124.808 23.5723 124.808 22.7566C124.808 22.4722 125.036 22.1078 125.594 22.1078C125.756 22.1078 125.974 22.1533 126.171 22.2545L126.207 22.7717H126.091C126.04 22.4525 125.862 22.2694 125.538 22.2694C125.335 22.2694 125.142 22.3864 125.142 22.6044C125.142 23.198 126.318 23.0151 126.318 23.8112C126.318 24.1456 126.05 24.5005 125.447 24.5005C125.243 24.5005 125.005 24.4299 124.828 24.3287L124.772 23.7454L124.863 23.72Z" fill="#DDDAD3"/>
<path d="M130.897 21.8031H130.77C130.674 21.2102 130.253 20.9719 129.686 20.9719C129.102 20.9719 128.255 21.362 128.255 22.5783C128.255 23.6033 128.986 24.3387 129.766 24.3387C130.268 24.3387 130.684 23.9941 130.786 23.4614L130.902 23.4914L130.786 24.232C130.573 24.3642 129.999 24.5005 129.664 24.5005C128.478 24.5005 127.728 23.7351 127.728 22.5944C127.728 21.5549 128.656 20.8094 129.65 20.8094C130.061 20.8094 130.456 20.9413 130.846 21.078L130.897 21.8031Z" fill="#DDDAD3"/>
<path d="M131.079 24.2926H131.176C131.318 24.2926 131.42 24.2926 131.42 24.1247V21.3021C131.42 20.9719 131.343 20.9616 131.151 20.9062V20.8249C131.353 20.7589 131.566 20.6683 131.673 20.6066C131.729 20.5763 131.769 20.5505 131.784 20.5505C131.815 20.5505 131.825 20.5812 131.825 20.622V24.1247C131.825 24.2926 131.937 24.2926 132.079 24.2926H132.165V24.4249C131.993 24.4249 131.815 24.4148 131.632 24.4148C131.45 24.4148 131.268 24.42 131.079 24.4249V24.2926Z" fill="#DDDAD3"/>
<path d="M134.335 24.1455C134.335 24.2374 134.39 24.2419 134.477 24.2419C134.537 24.2419 134.614 24.2374 134.68 24.2374V24.344C134.461 24.3641 134.046 24.4705 133.949 24.5008L133.924 24.4856V24.0755C133.62 24.3238 133.386 24.5008 133.026 24.5008C132.753 24.5008 132.469 24.3238 132.469 23.8982V22.5997C132.469 22.4675 132.448 22.3405 132.165 22.3157V22.2193C132.348 22.2138 132.753 22.1841 132.819 22.1841C132.875 22.1841 132.875 22.2193 132.875 22.3308V23.6386C132.875 23.7905 132.875 24.2267 133.316 24.2267C133.488 24.2267 133.716 24.0946 133.929 23.9185V22.5533C133.929 22.4524 133.686 22.3969 133.504 22.3457V22.2545C133.96 22.2238 134.244 22.1841 134.295 22.1841C134.335 22.1841 134.335 22.2193 134.335 22.2754V24.1455Z" fill="#DDDAD3"/>
<path d="M135.344 23.8517C135.344 24.0445 135.526 24.3689 135.866 24.3689C136.409 24.3689 136.637 23.8362 136.637 23.3848C136.637 22.8376 136.221 22.3814 135.826 22.3814C135.638 22.3814 135.481 22.5032 135.344 22.6203V23.8517ZM135.344 22.4723C135.547 22.3004 135.821 22.1079 136.1 22.1079C136.688 22.1079 137.043 22.6203 137.043 23.1723C137.043 23.8362 136.556 24.5007 135.83 24.5007C135.455 24.5007 135.258 24.3791 135.126 24.3237L134.974 24.4398L134.868 24.3843C134.912 24.0854 134.938 23.7908 134.938 23.4818V21.3021C134.938 20.972 134.862 20.9614 134.67 20.9059V20.8247C134.873 20.7589 135.085 20.6683 135.192 20.6064C135.247 20.5764 135.288 20.5507 135.304 20.5507C135.334 20.5507 135.344 20.5812 135.344 20.6222V22.4723Z" fill="#DDDAD3"/>
<path d="M113.469 27.3724H113.508C113.607 27.3724 113.712 27.3594 113.712 27.2154V25.7703C113.712 25.6263 113.607 25.6133 113.508 25.6133H113.469V25.5293C113.577 25.5293 113.743 25.5408 113.878 25.5408C114.016 25.5408 114.181 25.5293 114.311 25.5293V25.6133H114.272C114.173 25.6133 114.068 25.6263 114.068 25.7703V27.2154C114.068 27.3594 114.173 27.3724 114.272 27.3724H114.311V27.4558C114.179 27.4558 114.013 27.4449 113.875 27.4449C113.74 27.4449 113.577 27.4558 113.469 27.4558V27.3724Z" fill="#DDDAD3"/>
<path d="M114.299 27.4439L114.299 27.385H114.273C114.174 27.385 114.056 27.3678 114.056 27.2153V25.7702C114.056 25.6177 114.174 25.6007 114.273 25.6007H114.299V25.5423C114.172 25.5423 114.012 25.5529 113.878 25.5529C113.747 25.5529 113.588 25.5425 113.482 25.5423V25.6007H113.508C113.606 25.6007 113.724 25.6177 113.724 25.7702V27.2153C113.724 27.3678 113.606 27.385 113.508 27.385H113.482V27.4439C113.588 27.4424 113.744 27.4327 113.875 27.4327C114.009 27.4327 114.169 27.443 114.299 27.4439ZM114.311 27.4676C114.178 27.4676 114.012 27.4567 113.875 27.4567C113.74 27.4567 113.578 27.4676 113.47 27.4676H113.457V27.3612H113.508C113.608 27.3587 113.699 27.3505 113.7 27.2153V25.7702C113.699 25.6353 113.608 25.6262 113.508 25.6244H113.457V25.5183H113.47C113.578 25.5183 113.743 25.5289 113.878 25.5289C114.015 25.5289 114.18 25.5183 114.311 25.5183H114.323V25.6244H114.273C114.172 25.6262 114.08 25.6353 114.08 25.7702V27.2153C114.08 27.3505 114.172 27.3587 114.273 27.3612H114.323V27.4676H114.311Z" fill="#DDDAD3"/>
<path d="M116.206 26.9121L116.212 26.9067V25.872C116.212 25.6459 116.055 25.6131 115.971 25.6131H115.911V25.5295C116.041 25.5295 116.168 25.5407 116.297 25.5407C116.41 25.5407 116.524 25.5295 116.636 25.5295V25.6131H116.596C116.479 25.6131 116.349 25.6347 116.349 25.963V27.2186C116.349 27.3151 116.352 27.4114 116.366 27.4969H116.261L114.84 25.9136V27.0497C114.84 27.2905 114.887 27.3723 115.1 27.3723H115.146V27.4557C115.028 27.4557 114.909 27.4447 114.79 27.4447C114.667 27.4447 114.54 27.4557 114.416 27.4557V27.3723H114.454C114.645 27.3723 114.703 27.2435 114.703 27.0225V25.8608C114.703 25.7062 114.575 25.6131 114.451 25.6131H114.416V25.5295C114.52 25.5295 114.628 25.5407 114.732 25.5407C114.815 25.5407 114.896 25.5295 114.978 25.5295L116.206 26.9121Z" fill="#DDDAD3"/>
<path d="M116.2 26.9065V26.9056L116.197 26.9038L116.2 26.9065ZM116.261 27.4849H116.353C116.34 27.4022 116.338 27.31 116.338 27.2188V25.9628C116.338 25.6318 116.477 25.6009 116.595 25.6009H116.625V25.542C116.516 25.5426 116.407 25.5529 116.297 25.5529C116.171 25.5529 116.048 25.5426 115.923 25.542V25.6009H115.971C116.056 25.6009 116.223 25.6385 116.223 25.8722L116.22 26.9151L116.214 26.9202L116.205 26.929L114.978 25.542C114.896 25.542 114.816 25.5529 114.733 25.5529C114.632 25.5529 114.528 25.5426 114.428 25.542L114.427 25.6009H114.452C114.581 25.6009 114.714 25.6997 114.714 25.861V27.0226C114.714 27.2437 114.653 27.3843 114.454 27.3852L114.428 27.3843V27.444C114.547 27.4425 114.67 27.4325 114.79 27.4325C114.906 27.4325 115.021 27.4425 115.134 27.444V27.3852H115.099C114.882 27.3843 114.828 27.2903 114.828 27.0499V25.8825L116.261 27.4849ZM116.366 27.5092L116.252 27.5049L114.852 25.9446V27.0499C114.856 27.2903 114.892 27.3582 115.099 27.3612H115.159V27.4673H115.146C115.027 27.4673 114.908 27.4567 114.79 27.4567C114.667 27.4567 114.541 27.4673 114.415 27.4673H114.403V27.3612H114.454C114.637 27.3598 114.689 27.2427 114.691 27.0226V25.861C114.69 25.7142 114.57 25.6248 114.452 25.6245H114.403V25.5181H114.415C114.521 25.5181 114.629 25.529 114.733 25.529C114.814 25.529 114.894 25.5181 114.988 25.5224L116.2 26.8869V25.8722C116.198 25.6527 116.052 25.6263 115.971 25.6245H115.898V25.5181H115.911C116.041 25.5181 116.168 25.529 116.297 25.529C116.409 25.529 116.523 25.5181 116.636 25.5181H116.649V25.6245H116.595C116.481 25.6279 116.365 25.6381 116.361 25.9628V27.2188C116.361 27.3146 116.364 27.4109 116.377 27.4952L116.38 27.5092H116.366Z" fill="#DDDAD3"/>
<path d="M117.049 25.6677C116.842 25.6677 116.835 25.7174 116.793 25.9186H116.711C116.722 25.8417 116.735 25.7643 116.744 25.684C116.754 25.607 116.76 25.5294 116.76 25.45H116.827C116.849 25.5327 116.918 25.5294 116.992 25.5294H118.416C118.49 25.5294 118.559 25.527 118.565 25.4442L118.63 25.4557C118.62 25.5294 118.609 25.6043 118.601 25.6789C118.595 25.7531 118.595 25.828 118.595 25.9023L118.512 25.9332C118.507 25.8307 118.493 25.6677 118.308 25.6677H117.856V27.1355C117.856 27.3486 117.953 27.3725 118.085 27.3725H118.137V27.4556C118.03 27.4556 117.836 27.4447 117.687 27.4447C117.522 27.4447 117.328 27.4556 117.221 27.4556V27.3725H117.273C117.425 27.3725 117.502 27.3592 117.502 27.1416V25.6677H117.049Z" fill="#DDDAD3"/>
<path d="M118.137 27.4674C118.029 27.4674 117.836 27.4565 117.687 27.4565C117.522 27.4565 117.33 27.4674 117.221 27.4674H117.209V27.361H117.273C117.426 27.3574 117.487 27.3555 117.49 27.1415V25.6794H117.049V25.656H117.514V27.1415C117.514 27.3625 117.425 27.3853 117.273 27.3853H117.233V27.4434C117.342 27.4425 117.527 27.4326 117.687 27.4326C117.831 27.4326 118.016 27.4425 118.125 27.4434V27.3853H118.085C117.951 27.3853 117.843 27.3528 117.843 27.1355V25.656H118.308C118.493 25.6564 118.518 25.8134 118.523 25.9159L118.584 25.8938C118.584 25.8222 118.584 25.7501 118.589 25.6769C118.596 25.6066 118.607 25.536 118.617 25.4654L118.575 25.4584C118.562 25.5385 118.484 25.543 118.415 25.5421H116.978C116.913 25.5421 116.842 25.5388 116.818 25.462H116.772C116.772 25.5385 116.766 25.6121 116.755 25.6861C116.747 25.7616 116.735 25.8346 116.725 25.9068H116.784C116.821 25.7152 116.844 25.6527 117.049 25.656V25.6794C116.846 25.6836 116.85 25.7176 116.805 25.9217L116.803 25.931H116.697L116.698 25.9168C116.709 25.8398 116.724 25.7625 116.732 25.6822C116.743 25.6058 116.748 25.529 116.748 25.4499V25.4378H116.836L116.838 25.4466C116.857 25.5164 116.908 25.5167 116.978 25.5181H118.415C118.492 25.5167 118.548 25.5154 118.553 25.4432L118.554 25.4305L118.566 25.433L118.644 25.4451L118.643 25.4569C118.632 25.5312 118.621 25.6058 118.613 25.6794C118.607 25.7534 118.607 25.828 118.607 25.9022V25.9107L118.599 25.9141L118.501 25.9499L118.501 25.9331C118.493 25.8298 118.482 25.6794 118.308 25.6794H117.868V27.1355C117.87 27.3437 117.953 27.3583 118.085 27.361H118.149V27.4674H118.137Z" fill="#DDDAD3"/>
<path d="M118.719 27.3724H118.758C118.857 27.3724 118.962 27.3594 118.962 27.2154V25.7703C118.962 25.6263 118.857 25.6133 118.758 25.6133H118.719V25.5293C118.887 25.5293 119.175 25.5408 119.406 25.5408C119.638 25.5408 119.924 25.5293 120.111 25.5293C120.107 25.6484 120.11 25.8309 120.118 25.9522L120.034 25.9743C120.021 25.7951 119.988 25.6517 119.698 25.6517H119.316V26.3738H119.643C119.809 26.3738 119.845 26.2808 119.861 26.1317H119.943C119.938 26.2392 119.935 26.3466 119.935 26.4542C119.935 26.5594 119.938 26.664 119.943 26.7685L119.861 26.7852C119.845 26.6197 119.836 26.5121 119.646 26.5121H119.316V27.1548C119.316 27.3343 119.475 27.3343 119.651 27.3343C119.983 27.3343 120.129 27.3121 120.211 26.9977L120.288 27.0172C120.253 27.1638 120.22 27.3091 120.195 27.4558C120.019 27.4558 119.701 27.4449 119.453 27.4449C119.204 27.4449 118.876 27.4558 118.719 27.4558V27.3724Z" fill="#DDDAD3"/>
<path d="M120.185 27.4434C120.208 27.3043 120.24 27.1648 120.274 27.026L120.22 27.0123C120.137 27.3213 119.977 27.3485 119.651 27.3462C119.477 27.3462 119.304 27.3462 119.303 27.1549V26.5003H119.646C119.839 26.4979 119.858 26.6146 119.871 26.7717L119.931 26.7592C119.926 26.6577 119.923 26.5552 119.923 26.4543C119.923 26.3509 119.926 26.2475 119.931 26.1429H119.871C119.856 26.2872 119.812 26.3878 119.643 26.3861H119.303V25.6391H119.698C119.985 25.6375 120.033 25.7858 120.045 25.9585L120.104 25.9425C120.1 25.8646 120.097 25.7655 120.097 25.6733C120.097 25.6252 120.098 25.5811 120.099 25.5421C119.912 25.5426 119.632 25.553 119.406 25.553C119.179 25.553 118.9 25.5426 118.731 25.5421V25.6009H118.758C118.856 25.6009 118.973 25.6179 118.974 25.77V27.2155C118.973 27.3676 118.856 27.384 118.758 27.3852H118.731V27.4434C118.891 27.4428 119.21 27.4325 119.453 27.4325C119.696 27.4325 120.007 27.4428 120.185 27.4434ZM120.195 27.4674C120.018 27.4674 119.701 27.4562 119.453 27.4562C119.204 27.4562 118.877 27.4674 118.719 27.4674H118.707V27.3613H118.758C118.857 27.3595 118.949 27.3504 118.949 27.2155V25.77C118.949 25.6358 118.857 25.6266 118.758 25.6242H118.707V25.5181H118.719C118.887 25.5181 119.175 25.529 119.406 25.529C119.637 25.529 119.924 25.5181 120.111 25.5181H120.124V25.5303C120.121 25.5718 120.12 25.6206 120.12 25.6733C120.12 25.7682 120.124 25.8725 120.129 25.951V25.961L120.12 25.9638L120.023 25.9892L120.023 25.9747C120.007 25.7961 119.983 25.6657 119.698 25.6634H119.327V26.3618H119.643C119.802 26.3605 119.83 26.279 119.849 26.1302L119.85 26.1196H119.956V26.1317C119.95 26.2393 119.947 26.3466 119.947 26.4543C119.947 26.5585 119.95 26.6634 119.956 26.7686V26.7781L119.946 26.7804L119.85 26.7993L119.849 26.7865C119.83 26.6182 119.829 26.5261 119.646 26.524L119.327 26.5234V27.1549C119.327 27.3225 119.471 27.3216 119.651 27.3225C119.984 27.3207 120.117 27.3043 120.2 26.9944L120.202 26.9832L120.214 26.9857L120.302 27.0084L120.3 27.0199C120.264 27.1655 120.231 27.3119 120.207 27.4573L120.205 27.4674H120.195Z" fill="#DDDAD3"/>
<path d="M121.014 26.4622H121.149C121.425 26.4622 121.574 26.3579 121.574 26.0321C121.574 25.7871 121.417 25.6292 121.171 25.6292C121.088 25.6292 121.053 25.6379 121.014 25.6404V26.4622ZM120.661 25.8222C120.661 25.6206 120.551 25.613 120.465 25.613H120.415V25.5294C120.503 25.5294 120.675 25.5406 120.843 25.5406C121.008 25.5406 121.141 25.5294 121.288 25.5294C121.634 25.5294 121.943 25.6234 121.943 26.0156C121.943 26.2637 121.778 26.4152 121.56 26.5016L122.032 27.207C122.109 27.324 122.164 27.3565 122.3 27.3725V27.4556C122.209 27.4556 122.12 27.4447 122.029 27.4447C121.943 27.4447 121.855 27.4556 121.77 27.4556C121.558 27.1774 121.375 26.879 121.196 26.5613H121.014V27.1519C121.014 27.365 121.113 27.3725 121.24 27.3725H121.29V27.4556C121.132 27.4556 120.973 27.4447 120.815 27.4447C120.683 27.4447 120.553 27.4556 120.415 27.4556V27.3725H120.465C120.567 27.3725 120.661 27.3262 120.661 27.2237V25.8222Z" fill="#DDDAD3"/>
<path d="M121.149 26.4504C121.422 26.4478 121.56 26.3532 121.562 26.0324C121.561 25.7917 121.411 25.6422 121.171 25.6408C121.096 25.6408 121.061 25.6474 121.026 25.6514V26.4504H121.149ZM121.149 26.4738H121.002V25.6289L121.012 25.628C121.05 25.625 121.087 25.6177 121.171 25.6177C121.422 25.6177 121.586 25.7811 121.586 26.0324C121.585 26.3616 121.427 26.4738 121.149 26.4738ZM121.002 26.5496H121.202L121.206 26.5556C121.385 26.873 121.567 27.1708 121.77 27.4439C121.854 27.4439 121.943 27.4327 122.029 27.4327C122.117 27.4327 122.202 27.4421 122.288 27.4433V27.3827C122.158 27.3671 122.098 27.3284 122.023 27.2141L121.542 26.4956L121.556 26.4899C121.772 26.405 121.932 26.2577 121.932 26.0151C121.932 25.6328 121.634 25.5434 121.288 25.5423C121.142 25.5423 121.009 25.5529 120.843 25.5529C120.68 25.5529 120.517 25.5425 120.427 25.5423V25.601H120.465C120.551 25.601 120.672 25.6149 120.672 25.8223V27.2238C120.672 27.3348 120.569 27.385 120.465 27.385H120.427V27.4433C120.56 27.443 120.685 27.4327 120.815 27.4327C120.969 27.4327 121.125 27.443 121.278 27.4433V27.385H121.24C121.114 27.385 121.002 27.3696 121.002 27.1519V26.5496ZM122.3 27.4673C122.207 27.4673 122.119 27.4567 122.029 27.4567C121.945 27.4567 121.856 27.4673 121.76 27.4633C121.549 27.1853 121.368 26.8891 121.189 26.5735H121.026V27.1519C121.029 27.3596 121.112 27.3578 121.24 27.3612H121.302V27.4673H121.289C121.131 27.4673 120.971 27.4567 120.815 27.4567C120.683 27.4567 120.554 27.4673 120.415 27.4673H120.404V27.3612H120.465C120.565 27.3602 120.648 27.3169 120.649 27.2238V25.8223C120.647 25.6268 120.551 25.6271 120.465 25.6244H120.404V25.5183H120.415C120.505 25.5183 120.675 25.5289 120.843 25.5289C121.008 25.5289 121.14 25.5183 121.288 25.5183C121.635 25.5183 121.955 25.6149 121.956 26.0151C121.956 26.2643 121.791 26.4199 121.579 26.5065L122.042 27.2005C122.119 27.3151 122.167 27.3439 122.301 27.3612L122.311 27.3621V27.4673H122.3Z" fill="#DDDAD3"/>
<path d="M124.172 26.9121L124.178 26.9067V25.872C124.178 25.6459 124.021 25.6131 123.938 25.6131H123.877V25.5295C124.007 25.5295 124.133 25.5407 124.264 25.5407C124.377 25.5407 124.49 25.5295 124.603 25.5295V25.6131H124.562C124.446 25.6131 124.316 25.6347 124.316 25.963V27.2186C124.316 27.3151 124.319 27.4114 124.332 27.4969H124.228L122.807 25.9136V27.0497C122.807 27.2905 122.854 27.3723 123.067 27.3723H123.114V27.4557C122.995 27.4557 122.876 27.4447 122.757 27.4447C122.633 27.4447 122.506 27.4557 122.382 27.4557V27.3723H122.42C122.611 27.3723 122.669 27.2435 122.669 27.0225V25.8608C122.669 25.7062 122.542 25.6131 122.418 25.6131H122.382V25.5295C122.487 25.5295 122.595 25.5407 122.7 25.5407C122.782 25.5407 122.862 25.5295 122.945 25.5295L124.172 26.9121Z" fill="#DDDAD3"/>
<path d="M124.166 26.9065V26.9056L124.164 26.9038L124.166 26.9065ZM124.228 27.4849H124.318C124.307 27.4025 124.304 27.31 124.304 27.2188V25.9628C124.304 25.6318 124.444 25.6015 124.562 25.6009H124.591V25.542C124.482 25.5426 124.373 25.5529 124.264 25.5529C124.137 25.5529 124.014 25.5426 123.889 25.542V25.6009H123.938C124.023 25.6015 124.19 25.6385 124.19 25.8722L124.186 26.9151L124.181 26.9202L124.173 26.9296L122.945 25.542C122.863 25.542 122.782 25.5529 122.7 25.5529C122.597 25.5529 122.494 25.5426 122.394 25.542V25.6009H122.418C122.548 25.6015 122.681 25.6991 122.681 25.861V27.0223C122.681 27.2437 122.618 27.3843 122.42 27.3852H122.394V27.4434C122.513 27.4425 122.636 27.4325 122.757 27.4325C122.873 27.4325 122.987 27.4425 123.101 27.4434V27.3852H123.067C122.849 27.3852 122.795 27.2906 122.794 27.0499V25.8825L124.228 27.4849ZM124.332 27.5092L124.219 27.5049L122.819 25.9446V27.0499C122.822 27.2906 122.859 27.3582 123.067 27.3612H123.125V27.4673H123.113C122.994 27.4673 122.875 27.4561 122.757 27.4561C122.634 27.4561 122.506 27.4673 122.382 27.4673H122.369V27.3612H122.42C122.602 27.3604 122.655 27.2427 122.657 27.0223V25.861C122.656 25.7136 122.536 25.6248 122.418 25.6245H122.369V25.5181H122.382C122.487 25.5181 122.596 25.529 122.7 25.529C122.781 25.529 122.86 25.5181 122.953 25.5214L124.166 26.8869V25.8722C124.166 25.6527 124.018 25.6257 123.938 25.6245H123.865V25.5181H123.877C124.008 25.5181 124.135 25.529 124.264 25.529C124.376 25.529 124.489 25.5181 124.603 25.5181H124.615V25.6245H124.562C124.448 25.6272 124.331 25.6381 124.328 25.9628V27.2188C124.328 27.3146 124.33 27.4101 124.344 27.4952L124.346 27.5092H124.332Z" fill="#DDDAD3"/>
<path d="M125.45 25.8388H125.444L125.188 26.6197H125.703L125.45 25.8388ZM125.048 27.0611C125.019 27.1548 124.986 27.2272 124.986 27.276C124.986 27.3592 125.102 27.3724 125.193 27.3724H125.224V27.4555C125.113 27.45 125 27.4449 124.889 27.4449C124.79 27.4449 124.691 27.45 124.592 27.4555V27.3724H124.608C124.716 27.3724 124.807 27.3091 124.848 27.1933L125.29 25.9277C125.325 25.8252 125.376 25.6876 125.392 25.5847C125.48 25.5548 125.591 25.4998 125.643 25.4665C125.651 25.4635 125.656 25.4614 125.665 25.4614C125.673 25.4614 125.679 25.4614 125.684 25.4693C125.692 25.4914 125.701 25.5162 125.709 25.5383L126.217 26.9814C126.25 27.0778 126.283 27.1802 126.318 27.263C126.352 27.34 126.41 27.3724 126.501 27.3724H126.517V27.4555C126.393 27.45 126.269 27.4449 126.137 27.4449C126.002 27.4449 125.864 27.45 125.723 27.4555V27.3724H125.754C125.817 27.3724 125.924 27.3622 125.924 27.293C125.924 27.257 125.9 27.1824 125.869 27.0942L125.761 26.774H125.135L125.048 27.0611Z" fill="#DDDAD3"/>
<path d="M125.204 26.608H125.687L125.446 25.8683L125.204 26.608ZM125.171 26.6319L125.435 25.8271H125.458L125.72 26.6319H125.171ZM125.735 27.4425C125.871 27.4383 126.005 27.4326 126.137 27.4326C126.265 27.4326 126.385 27.4383 126.505 27.4425V27.3853H126.501C126.407 27.3862 126.342 27.3482 126.307 27.2676C126.272 27.184 126.238 27.0815 126.206 26.9851L125.698 25.5421C125.689 25.52 125.681 25.4951 125.674 25.4754C125.671 25.4727 125.672 25.4727 125.67 25.4727H125.665C125.659 25.4727 125.656 25.4742 125.649 25.4763C125.596 25.5105 125.485 25.5652 125.403 25.5867C125.386 25.6915 125.336 25.8289 125.3 25.931L124.859 27.1976C124.817 27.3174 124.72 27.3853 124.608 27.3853H124.604V27.4425C124.698 27.4383 124.794 27.4326 124.89 27.4326C124.996 27.4326 125.105 27.4383 125.211 27.4425V27.3853H125.193C125.103 27.384 124.977 27.3744 124.974 27.2764C124.974 27.2215 125.008 27.1506 125.035 27.0579L125.048 27.0611L125.035 27.0576L125.126 26.7626H125.769L125.88 27.0903C125.911 27.1791 125.936 27.2525 125.936 27.2931C125.932 27.3777 125.816 27.3837 125.754 27.3853H125.735V27.4425ZM126.516 27.4674C126.393 27.4623 126.269 27.4562 126.137 27.4562C126.002 27.4562 125.865 27.4623 125.723 27.4674L125.711 27.4683V27.3601H125.754C125.817 27.3601 125.912 27.3462 125.912 27.2931C125.912 27.2616 125.888 27.1858 125.858 27.0982L125.753 26.7862H125.144L125.058 27.0646C125.03 27.1591 124.997 27.2318 124.997 27.2764C124.998 27.3437 125.101 27.3601 125.193 27.3601H125.235V27.4683L125.223 27.4674C125.112 27.4623 124.999 27.4562 124.89 27.4562C124.79 27.4562 124.691 27.4623 124.592 27.4674L124.58 27.4683V27.3601H124.608C124.711 27.3601 124.796 27.3013 124.836 27.1894L125.278 25.9234C125.314 25.821 125.364 25.6836 125.388 25.5739C125.474 25.544 125.585 25.4884 125.638 25.4551C125.646 25.4524 125.654 25.4484 125.665 25.4484C125.671 25.4481 125.687 25.4502 125.695 25.4651C125.703 25.4876 125.712 25.5121 125.72 25.5343L126.228 26.9775C126.261 27.0739 126.294 27.1758 126.33 27.257C126.361 27.331 126.412 27.3601 126.501 27.3601H126.529V27.4683L126.516 27.4674Z" fill="#DDDAD3"/>
<path d="M126.639 25.6677C126.432 25.6677 126.424 25.7174 126.382 25.9186H126.299C126.31 25.8417 126.324 25.7643 126.332 25.684C126.344 25.607 126.349 25.5294 126.349 25.45H126.415C126.437 25.5327 126.506 25.5294 126.581 25.5294H128.004C128.079 25.5294 128.147 25.527 128.153 25.4442L128.219 25.4557C128.209 25.5294 128.198 25.6043 128.189 25.6789C128.182 25.7531 128.182 25.828 128.182 25.9023L128.1 25.9332C128.096 25.8307 128.081 25.6677 127.897 25.6677H127.444V27.1355C127.444 27.3486 127.541 27.3725 127.673 27.3725H127.725V27.4556C127.618 27.4556 127.425 27.4447 127.276 27.4447C127.111 27.4447 126.917 27.4556 126.809 27.4556V27.3725H126.862C127.014 27.3725 127.092 27.3592 127.092 27.1416V25.6677H126.639Z" fill="#DDDAD3"/>
<path d="M127.725 27.4674C127.618 27.4674 127.424 27.4565 127.276 27.4565C127.111 27.4565 126.918 27.4674 126.809 27.4674H126.798V27.361H126.862C127.014 27.3574 127.075 27.3555 127.079 27.1415V25.6794H126.639V25.656H127.103V27.1415C127.103 27.3625 127.014 27.384 126.862 27.3853H126.821V27.4437C126.93 27.4425 127.116 27.4326 127.276 27.4326C127.42 27.4326 127.605 27.4425 127.714 27.4437L127.713 27.3853H127.673C127.54 27.384 127.433 27.3528 127.432 27.1355V25.656H127.897C128.082 25.6564 128.106 25.8134 128.111 25.9159L128.172 25.8938C128.172 25.8222 128.171 25.7501 128.177 25.6776C128.185 25.6066 128.196 25.536 128.205 25.466L128.164 25.4584C128.151 25.5385 128.074 25.543 128.004 25.5421H126.567C126.501 25.5424 126.431 25.5388 126.406 25.4611H126.361C126.36 25.5385 126.355 25.6121 126.344 25.6861C126.336 25.7622 126.323 25.8346 126.313 25.9068H126.372C126.409 25.7152 126.432 25.6521 126.639 25.656V25.6794C126.434 25.6831 126.439 25.7176 126.394 25.9217L126.392 25.931H126.285L126.287 25.9168C126.298 25.8398 126.312 25.7625 126.32 25.6831C126.331 25.6058 126.336 25.529 126.336 25.4499V25.4378H126.424L126.426 25.4466C126.446 25.5164 126.497 25.5167 126.567 25.5181H128.004C128.081 25.5167 128.137 25.5154 128.141 25.4432L128.141 25.4305L128.155 25.433L128.233 25.4451L128.231 25.4569C128.219 25.5312 128.209 25.6058 128.201 25.6794C128.196 25.7534 128.196 25.828 128.196 25.9022V25.9107L128.187 25.9141L128.089 25.9499V25.9331C128.082 25.8298 128.071 25.6794 127.897 25.6794H127.456V27.1355C127.459 27.3437 127.542 27.3583 127.673 27.361H127.737V27.4674H127.725Z" fill="#DDDAD3"/>
<path d="M128.321 27.3724H128.359C128.46 27.3724 128.564 27.3594 128.564 27.2154V25.7703C128.564 25.6263 128.46 25.6133 128.359 25.6133H128.321V25.5293C128.429 25.5293 128.594 25.5408 128.729 25.5408C128.867 25.5408 129.032 25.5293 129.163 25.5293V25.6133H129.124C129.024 25.6133 128.919 25.6263 128.919 25.7703V27.2154C128.919 27.3594 129.024 27.3724 129.124 27.3724H129.163V27.4558C129.03 27.4558 128.865 27.4449 128.727 27.4449C128.591 27.4449 128.429 27.4558 128.321 27.4558V27.3724Z" fill="#DDDAD3"/>
<path d="M129.15 27.4434V27.3852H129.124C129.025 27.3852 128.908 27.3676 128.908 27.2155V25.77C128.908 25.6179 129.025 25.6009 129.124 25.6009H129.15V25.5421C129.023 25.5426 128.864 25.553 128.729 25.553C128.598 25.553 128.44 25.5426 128.333 25.5421V25.6009H128.359C128.457 25.6009 128.576 25.6179 128.576 25.77V27.2155C128.576 27.3676 128.457 27.3852 128.359 27.3852H128.333V27.4434C128.44 27.4419 128.595 27.4325 128.727 27.4325C128.861 27.4325 129.02 27.4425 129.15 27.4434ZM129.163 27.4674C129.029 27.4674 128.864 27.4562 128.727 27.4562C128.592 27.4562 128.429 27.4674 128.321 27.4674H128.309V27.3613H128.359C128.459 27.3595 128.551 27.3504 128.551 27.2155V25.77C128.551 25.6358 128.459 25.6263 128.359 25.6242H128.309V25.5181H128.321C128.429 25.5181 128.594 25.529 128.729 25.529C128.867 25.529 129.032 25.5181 129.163 25.5181H129.174V25.6242H129.124C129.023 25.6263 128.932 25.6358 128.932 25.77V27.2155C128.932 27.3504 129.023 27.3595 129.124 27.3613H129.174V27.4674H129.163Z" fill="#DDDAD3"/>
<path d="M130.304 27.3757C130.84 27.3757 130.933 26.9037 130.933 26.5017C130.933 26.0982 130.716 25.6102 130.258 25.6102C129.775 25.6102 129.632 26.0403 129.632 26.4096C129.632 26.9037 129.858 27.3757 130.304 27.3757ZM130.263 25.4886C130.851 25.4886 131.32 25.853 131.32 26.4408C131.32 27.0753 130.865 27.497 130.277 27.497C129.691 27.497 129.246 27.1001 129.246 26.5063C129.246 25.9333 129.69 25.4886 130.263 25.4886Z" fill="#DDDAD3"/>
<path d="M129.619 26.4096C129.62 26.0385 129.765 25.5977 130.258 25.5977C130.727 25.5986 130.945 26.0961 130.945 26.5017C130.945 26.9037 130.85 27.3872 130.304 27.3872V27.3639C130.83 27.3635 130.92 26.9037 130.921 26.5017C130.921 26.1015 130.706 25.6226 130.258 25.6219C129.784 25.6226 129.644 26.0425 129.643 26.4096C129.644 26.9015 129.868 27.3626 130.304 27.3639V27.3872C129.847 27.3866 129.62 26.9064 129.619 26.4096ZM129.233 26.5065C129.234 25.9264 129.683 25.4773 130.263 25.4761V25.5007C129.695 25.5007 129.256 25.939 129.256 26.5065C129.257 27.0932 129.698 27.4845 130.277 27.4849C130.859 27.4845 131.307 27.0686 131.309 26.4401C131.308 25.8599 130.846 25.5013 130.263 25.5007V25.4761C130.855 25.4773 131.33 25.8454 131.331 26.4401C131.331 27.0813 130.87 27.5079 130.277 27.5091C129.687 27.5079 129.234 27.1059 129.233 26.5065Z" fill="#DDDAD3"/>
<path d="M133.179 26.9121L133.185 26.9067V25.872C133.185 25.6459 133.027 25.6131 132.944 25.6131H132.884V25.5295C133.013 25.5295 133.141 25.5407 133.27 25.5407C133.384 25.5407 133.497 25.5295 133.61 25.5295V25.6131H133.568C133.452 25.6131 133.322 25.6347 133.322 25.963V27.2186C133.322 27.3151 133.325 27.4114 133.339 27.4969H133.234L131.813 25.9136V27.0497C131.813 27.2905 131.86 27.3723 132.073 27.3723H132.12V27.4557C132.001 27.4557 131.883 27.4447 131.764 27.4447C131.64 27.4447 131.512 27.4557 131.388 27.4557V27.3723H131.427C131.618 27.3723 131.675 27.2435 131.675 27.0225V25.8608C131.675 25.7062 131.549 25.6131 131.424 25.6131H131.388V25.5295C131.493 25.5295 131.601 25.5407 131.706 25.5407C131.788 25.5407 131.868 25.5295 131.951 25.5295L133.179 26.9121Z" fill="#DDDAD3"/>
<path d="M133.172 26.9065V26.9056L133.17 26.9038L133.172 26.9065ZM133.234 27.4849H133.325C133.313 27.4022 133.311 27.31 133.311 27.2188V25.9628C133.311 25.6315 133.45 25.6015 133.568 25.6009H133.598V25.542C133.488 25.5426 133.38 25.5529 133.269 25.5529C133.144 25.5529 133.021 25.5426 132.896 25.542V25.6009H132.944C133.03 25.6015 133.196 25.6391 133.196 25.8722L133.193 26.9151L133.188 26.9202L133.179 26.9296L131.951 25.542C131.87 25.542 131.789 25.5529 131.706 25.5529C131.604 25.5529 131.5 25.5426 131.4 25.542V25.6009H131.424C131.554 25.6015 131.687 25.6991 131.687 25.861V27.0226C131.687 27.2437 131.626 27.3843 131.427 27.3852H131.4V27.4434C131.52 27.4425 131.642 27.4325 131.764 27.4325C131.879 27.4325 131.994 27.4425 132.108 27.4434V27.3852H132.072C131.855 27.3852 131.801 27.2906 131.801 27.0499V25.8825L133.234 27.4849ZM133.339 27.5092L133.225 27.5049L131.825 25.9446V27.0499C131.828 27.2906 131.865 27.3579 132.072 27.3604H132.132V27.4673H132.12C132 27.4673 131.882 27.4567 131.764 27.4567C131.64 27.4567 131.513 27.4673 131.388 27.4673H131.377V27.3604H131.427C131.609 27.3598 131.661 27.2427 131.663 27.0226V25.861C131.663 25.7136 131.543 25.6248 131.424 25.6245H131.377V25.5181H131.388C131.494 25.5181 131.601 25.529 131.706 25.529C131.787 25.529 131.867 25.5181 131.961 25.5224L133.172 26.8869V25.8722C133.172 25.6527 133.025 25.6263 132.944 25.6245H132.872V25.5181H132.884C133.014 25.5181 133.142 25.529 133.269 25.529C133.383 25.529 133.495 25.5181 133.609 25.5181H133.621V25.6245H133.568C133.455 25.6279 133.337 25.6381 133.335 25.9628V27.2188C133.335 27.3146 133.337 27.4109 133.35 27.4952L133.352 27.5092H133.339Z" fill="#DDDAD3"/>
<path d="M134.456 25.8388H134.45L134.194 26.6197H134.71L134.456 25.8388ZM134.053 27.0611C134.026 27.1548 133.993 27.2272 133.993 27.276C133.993 27.3592 134.109 27.3724 134.199 27.3724H134.23V27.4555C134.119 27.45 134.007 27.4449 133.896 27.4449C133.796 27.4449 133.697 27.45 133.599 27.4555V27.3724H133.614C133.722 27.3724 133.813 27.3091 133.854 27.1933L134.296 25.9277C134.332 25.8252 134.382 25.6876 134.398 25.5847C134.486 25.5548 134.596 25.4998 134.649 25.4665C134.657 25.4635 134.663 25.4614 134.671 25.4614C134.679 25.4614 134.684 25.4614 134.691 25.4693C134.699 25.4914 134.707 25.5162 134.716 25.5383L135.223 26.9814C135.256 27.0778 135.29 27.1802 135.325 27.263C135.358 27.34 135.417 27.3724 135.508 27.3724H135.524V27.4555C135.4 27.45 135.275 27.4449 135.143 27.4449C135.008 27.4449 134.87 27.45 134.729 27.4555V27.3724H134.76C134.823 27.3724 134.931 27.3622 134.931 27.293C134.931 27.257 134.906 27.1824 134.875 27.0942L134.768 26.774H134.142L134.053 27.0611Z" fill="#DDDAD3"/>
<path d="M134.211 26.6073H134.694L134.453 25.8689L134.211 26.6073ZM134.177 26.631L134.443 25.8271H134.465L134.726 26.631H134.177ZM134.741 27.4428C134.877 27.4383 135.012 27.4326 135.143 27.4326C135.271 27.4326 135.391 27.4383 135.511 27.4425V27.3853H135.507C135.414 27.3853 135.348 27.3482 135.314 27.2676C135.277 27.184 135.244 27.0815 135.212 26.9851L134.704 25.5421C134.696 25.52 134.687 25.4951 134.68 25.4763C134.678 25.4726 134.678 25.4726 134.676 25.4726H134.671C134.666 25.4726 134.663 25.4742 134.655 25.4763C134.602 25.51 134.492 25.5655 134.409 25.5867C134.393 25.6915 134.342 25.8289 134.307 25.931L133.865 27.1976C133.823 27.3174 133.728 27.3853 133.614 27.3853H133.609V27.4425C133.705 27.4383 133.8 27.4326 133.896 27.4326C134.003 27.4326 134.112 27.4383 134.218 27.4425V27.3853H134.199C134.11 27.384 133.984 27.3744 133.981 27.2761C133.981 27.2215 134.015 27.1509 134.042 27.0579L134.053 27.0611L134.042 27.0576L134.133 26.7626H134.777L134.887 27.0903C134.918 27.1791 134.942 27.2525 134.942 27.2931C134.938 27.3777 134.822 27.3837 134.759 27.3853H134.741V27.4428ZM135.523 27.4674C135.399 27.4626 135.274 27.4565 135.143 27.4565C135.008 27.4565 134.87 27.4626 134.73 27.4674L134.717 27.4683V27.3613H134.759C134.823 27.3613 134.918 27.3462 134.919 27.2931C134.919 27.2616 134.895 27.1861 134.863 27.0982L134.759 26.7862H134.15L134.065 27.0646C134.037 27.1594 134.004 27.2318 134.005 27.2761C134.005 27.3437 134.108 27.3613 134.199 27.3613H134.242V27.4683L134.229 27.4674C134.119 27.4626 134.006 27.4565 133.896 27.4565C133.797 27.4565 133.698 27.4626 133.599 27.4674L133.586 27.4683V27.3613H133.614C133.717 27.3601 133.803 27.301 133.843 27.1894L134.285 25.9234C134.32 25.821 134.37 25.6836 134.394 25.5739C134.481 25.544 134.592 25.4884 134.645 25.4551C134.652 25.4524 134.66 25.4491 134.671 25.4491C134.678 25.4481 134.693 25.4502 134.702 25.4654C134.71 25.4872 134.718 25.5121 134.726 25.5343L135.234 26.9775C135.267 27.0739 135.3 27.1758 135.336 27.2577C135.369 27.331 135.418 27.3601 135.507 27.3613H135.535V27.4683L135.523 27.4674Z" fill="#DDDAD3"/>
<path d="M136.219 27.1853C136.219 27.2956 136.296 27.3287 136.384 27.3399C136.497 27.3484 136.621 27.3484 136.749 27.3345C136.864 27.3211 136.964 27.2544 137.013 27.1853C137.057 27.1243 137.082 27.0477 137.099 26.9864H137.179C137.148 27.1438 137.11 27.2987 137.076 27.4557C136.834 27.4557 136.591 27.4448 136.349 27.4448C136.106 27.4448 135.863 27.4557 135.62 27.4557V27.3724H135.658C135.758 27.3724 135.866 27.3593 135.866 27.1877V25.7701C135.866 25.6262 135.758 25.6132 135.658 25.6132H135.62V25.5295C135.766 25.5295 135.91 25.5407 136.056 25.5407C136.197 25.5407 136.335 25.5295 136.476 25.5295V25.6132H136.406C136.302 25.6132 136.219 25.6159 136.219 25.7623V27.1853Z" fill="#DDDAD3"/>
<path d="M137.067 27.4434C137.099 27.294 137.135 27.1472 137.164 26.9981H137.108C137.091 27.059 137.066 27.1327 137.023 27.1924C136.971 27.2643 136.869 27.3316 136.749 27.3462C136.677 27.354 136.605 27.3574 136.538 27.3574C136.484 27.3574 136.432 27.3549 136.382 27.3515C136.293 27.3416 136.206 27.3034 136.207 27.1854V25.7622C136.207 25.6084 136.304 25.6009 136.406 25.6009H136.463V25.5421C136.327 25.5426 136.193 25.553 136.056 25.553C135.912 25.553 135.773 25.5426 135.632 25.5421V25.6009H135.658C135.757 25.6009 135.877 25.6179 135.877 25.7697V27.1876C135.877 27.3661 135.757 27.3852 135.658 27.3852H135.632V27.4434C135.87 27.4428 136.109 27.4325 136.349 27.4325C136.588 27.4325 136.828 27.4428 137.067 27.4434ZM137.077 27.4674C136.833 27.4674 136.591 27.4565 136.349 27.4565C136.106 27.4565 135.863 27.4674 135.62 27.4674H135.608V27.3613H135.658C135.758 27.3588 135.853 27.3515 135.854 27.1876V25.7697C135.853 25.6358 135.759 25.6263 135.658 25.6242H135.608V25.5181H135.62C135.767 25.5181 135.91 25.529 136.056 25.529C136.196 25.529 136.334 25.5181 136.476 25.5181H136.487V25.6242H136.406C136.299 25.6272 136.233 25.6224 136.23 25.7622V27.1854C136.231 27.2882 136.298 27.3155 136.385 27.3283C136.433 27.3316 136.485 27.3334 136.538 27.3334C136.605 27.3334 136.675 27.3301 136.747 27.3225C136.859 27.3091 136.956 27.2446 137.004 27.1787C137.046 27.1194 137.07 27.0439 137.087 26.9836L137.09 26.9741H137.194L137.191 26.9893C137.16 27.1466 137.122 27.301 137.089 27.4586L137.086 27.4674H137.077Z" fill="#DDDAD3"/>
<path d="M137.099 25.7429H137.133C137.171 25.7429 137.188 25.7147 137.188 25.6689C137.188 25.6225 137.16 25.6064 137.131 25.6064H137.099V25.7429ZM137.001 25.8962V25.8817C137.036 25.8769 137.043 25.8784 137.043 25.8556V25.641C137.043 25.6103 137.04 25.6 137.002 25.6019V25.5867H137.151C137.201 25.5867 137.249 25.6116 137.249 25.664C137.249 25.7077 137.22 25.739 137.18 25.7516L137.227 25.8186C137.25 25.8481 137.275 25.8769 137.292 25.8869V25.8962H137.235C137.208 25.8962 137.185 25.8386 137.131 25.7625H137.099V25.8587C137.099 25.8784 137.106 25.8769 137.141 25.8817V25.8962H137.001ZM137.145 25.9784C137.275 25.9784 137.375 25.868 137.375 25.7429C137.375 25.6176 137.277 25.5058 137.145 25.5058C137.014 25.5058 136.915 25.6176 136.915 25.7429C136.915 25.868 137.014 25.9784 137.145 25.9784ZM137.145 25.4518C137.311 25.4518 137.436 25.5798 137.436 25.7429C137.436 25.9059 137.311 26.0323 137.145 26.0323C136.979 26.0323 136.854 25.9059 136.854 25.7429C136.854 25.5798 136.979 25.4518 137.145 25.4518Z" fill="#DDDAD3"/>
<path d="M119.922 15.7173C119.922 13.1365 122.014 11.0445 124.595 11.0445C127.175 11.0445 129.268 13.1365 129.268 15.7173C129.268 18.2981 127.175 20.3901 124.595 20.3901C122.014 20.3901 119.922 18.2981 119.922 15.7173Z" fill="#485047"/>
<path d="M127.421 15.6252C127.419 14.4285 126.671 13.4082 125.617 13.004V18.2466C126.671 17.8417 127.419 16.8224 127.421 15.6252ZM123.606 18.2453V13.0043C122.553 13.41 121.806 14.4291 121.804 15.6252C121.806 16.8211 122.553 17.8405 123.606 18.2453ZM124.612 11.1941C122.165 11.1951 120.182 13.1781 120.182 15.6252C120.182 18.0722 122.165 20.0549 124.612 20.0552C127.059 20.0549 129.043 18.0722 129.043 15.6252C129.043 13.1781 127.059 11.1951 124.612 11.1941ZM124.601 20.4737C121.923 20.4861 119.719 18.3169 119.719 15.6758C119.719 12.7897 121.923 10.7933 124.601 10.7938H125.856C128.502 10.7933 130.918 12.7884 130.918 15.6758C130.918 18.3156 128.502 20.4737 125.856 20.4737H124.601Z" fill="#DDDAD3"/>
</g>
<g filter="url(#filter1_dd_1_4)">
<rect x="155.385" y="5" width="43.46" height="27.9983" rx="5.01462" fill="#485047"/>
<rect x="155.281" y="4.89553" width="43.6689" height="28.2072" rx="5.11909" stroke="#DDDAD3" stroke-width="0.208942"/>
<path d="M170.581 19.0708C170.581 20.6182 171.797 21.8179 173.36 21.8179C173.802 21.8179 174.18 21.7307 174.647 21.5113V20.3027C174.237 20.7131 173.873 20.8789 173.408 20.8789C172.373 20.8789 171.639 20.1292 171.639 19.0631C171.639 18.0527 172.397 17.2554 173.36 17.2554C173.85 17.2554 174.221 17.4297 174.647 17.8473V16.6392C174.197 16.4108 173.826 16.316 173.384 16.316C171.829 16.316 170.581 17.5403 170.581 19.0708Z" fill="#DDDAD3"/>
<path d="M167.946 17.7925C167.946 18.0765 168.127 18.2271 168.743 18.455C169.912 18.8824 170.258 19.2608 170.258 20.0973C170.258 21.1162 169.509 21.8255 168.442 21.8255C167.661 21.8255 167.093 21.5181 166.619 20.8236L167.283 20.1849C167.519 20.6421 167.914 20.887 168.403 20.887C168.862 20.887 169.201 20.571 169.201 20.1445C169.201 19.9234 169.098 19.7333 168.893 19.5998C168.789 19.5364 168.585 19.4416 168.183 19.3C167.218 18.953 166.888 18.5817 166.888 17.8562C166.888 16.9947 167.598 16.3479 168.529 16.3479C169.107 16.3479 169.635 16.5452 170.077 16.9317L169.539 17.6351C169.272 17.3353 169.019 17.2086 168.711 17.2086C168.268 17.2086 167.946 17.4608 167.946 17.7925Z" fill="#DDDAD3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M161.907 16.4351H160.4V21.6992H161.899C162.696 21.6992 163.273 21.5113 163.778 21.0916C164.378 20.5944 164.733 19.8452 164.733 19.0708C164.733 17.5173 163.572 16.4351 161.907 16.4351ZM163.107 20.3899C162.784 20.6808 162.365 20.8079 161.702 20.8079H161.426V17.3272H161.702C162.365 17.3272 162.767 17.4455 163.107 17.7529C163.462 18.0689 163.675 18.5588 163.675 19.0631C163.675 19.5683 163.462 20.0739 163.107 20.3899Z" fill="#DDDAD3"/>
<path d="M166.233 16.4351H165.206V21.6992H166.233V16.4351Z" fill="#DDDAD3"/>
<path d="M181.385 16.4351L182.789 19.9706L184.211 16.4351H185.324L183.05 21.8345H182.497L180.263 16.4351H181.385Z" fill="#DDDAD3"/>
<path d="M185.788 21.6992H188.7V20.8079H186.814V19.3872H188.631V18.4954H186.814V17.3272H188.7V16.4351H185.788V21.6992Z" fill="#DDDAD3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M190.903 16.4351C192.087 16.4351 192.767 17.0036 192.767 17.9889C192.767 18.7952 192.34 19.3242 191.567 19.4816L193.224 21.6992H191.961L190.54 19.5845H190.406V21.6992H189.38V16.4351H190.903ZM190.406 18.8586H190.706C191.362 18.8586 191.71 18.5736 191.71 18.0446C191.71 17.5322 191.362 17.2639 190.722 17.2639H190.406V18.8586Z" fill="#DDDAD3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M193.585 16.7111C193.585 16.6183 193.521 16.5677 193.409 16.5677H193.26V17.0321H193.371V16.8522L193.5 17.0321H193.636L193.483 16.8408C193.548 16.8229 193.585 16.7753 193.585 16.7111ZM193.389 16.7744H193.371V16.6528H193.391C193.445 16.6528 193.474 16.6728 193.474 16.7128C193.474 16.7536 193.445 16.7744 193.389 16.7744Z" fill="#DDDAD3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M193.027 16.7991C193.027 16.5741 193.206 16.3942 193.431 16.3942C193.65 16.3942 193.831 16.5775 193.831 16.7991C193.831 17.0219 193.65 17.2039 193.431 17.2039C193.208 17.2039 193.027 17.0236 193.027 16.7991ZM193.107 16.7995C193.107 16.984 193.252 17.1316 193.429 17.1316C193.606 17.1316 193.75 16.9823 193.75 16.7995C193.75 16.6183 193.606 16.4669 193.429 16.4669C193.251 16.4669 193.107 16.6149 193.107 16.7995Z" fill="#DDDAD3"/>
<g filter="url(#filter2_i_1_4)">
<path d="M177.76 21.8591C176.221 21.8591 174.973 20.6115 174.973 19.0729V19.0691C174.973 18.3036 175.283 17.6071 175.785 17.1058C175.785 17.1019 175.789 17.1019 175.789 17.0981C175.792 17.0981 175.792 17.0942 175.796 17.0942C176.298 16.5929 176.994 16.2829 177.76 16.2829H177.763C179.302 16.2829 180.55 17.5306 180.55 19.0691V19.0729C180.55 19.8384 180.24 20.5311 179.738 21.0364C179.738 21.0402 179.734 21.0402 179.734 21.044C179.731 21.044 179.731 21.0478 179.727 21.0478C179.222 21.5492 178.529 21.8591 177.763 21.8591H177.76Z" fill="#DDDAD3"/>
</g>
</g>
<g filter="url(#filter3_dd_1_4)">
<rect x="206.845" y="5" width="43.46" height="27.9983" rx="5.01462" fill="#485047"/>
<rect x="206.741" y="4.89553" width="43.6689" height="28.2072" rx="5.11909" stroke="#DDDAD3" stroke-width="0.208942"/>
<path d="M238.475 21.1259L237.525 21.8463L236.577 21.1865C236.577 21.1172 236.577 21.0436 236.573 20.9699C236.573 20.9006 236.573 20.827 236.568 20.7533C236.508 19.0464 236.075 17.2182 235.208 15.8795C234.541 14.8527 233.688 14.3632 232.734 14.3632C231.734 14.3632 230.919 14.961 230.018 16.2607C229.992 16.2997 229.962 16.3387 229.936 16.382C229.918 16.4037 229.905 16.4253 229.888 16.4513C229.845 16.5163 229.801 16.5813 229.758 16.6506C229.368 17.2571 228.961 17.9633 228.519 18.7431C228.48 18.8168 228.437 18.8904 228.398 18.9641C228.385 18.9814 228.372 19.0031 228.363 19.0204L228.272 19.1807L227.735 20.1295C226.474 22.3606 226.154 22.8718 225.525 23.7079C224.421 25.1766 223.476 25.7355 222.233 25.7355C220.76 25.7355 219.824 25.0986 219.248 24.1368C218.776 23.357 218.546 22.3303 218.546 21.1605L220.699 21.2342C220.699 21.9967 220.864 22.5772 221.085 22.9325C221.371 23.3917 221.791 23.5693 222.229 23.5693C222.787 23.5693 223.307 23.4523 224.295 22.0833C225.088 20.9873 226.024 19.4536 226.652 18.4875L227.245 17.5821L227.371 17.3828L227.501 17.1878L227.718 16.8542C228.047 16.3517 228.402 15.8188 228.783 15.3076C228.827 15.247 228.87 15.1863 228.918 15.1257C228.961 15.065 229.009 15.0043 229.052 14.948C229.442 14.4498 229.853 13.9863 230.295 13.605C231.097 12.9075 231.959 12.5219 232.83 12.5219C234.29 12.5219 235.68 13.3667 236.746 14.9524C237.834 16.5726 238.401 18.5915 238.466 20.6927C238.47 20.762 238.47 20.8356 238.47 20.9093C238.475 20.9829 238.475 21.0522 238.475 21.1259Z" fill="#DDDAD3"/>
<path d="M220.244 15.1023C221.23 13.5838 222.654 12.5219 224.288 12.5219C225.234 12.5219 226.174 12.8014 227.156 13.602C228.23 14.4771 229.375 15.918 230.804 18.293L231.316 19.1452C232.552 21.2013 233.255 22.2588 233.667 22.7579C234.197 23.3986 234.527 23.5693 235.009 23.5693C236.231 23.5693 236.576 22.4689 236.576 21.1861L238.475 21.1268C238.475 22.4676 238.21 23.4528 237.759 24.2308C237.324 24.9834 236.476 25.7355 235.049 25.7355C234.162 25.7355 233.376 25.5431 232.507 24.7247C231.839 24.0965 231.058 22.9805 230.457 21.9776L228.669 18.9974C227.773 17.5019 226.95 16.3864 226.474 15.8816C225.962 15.3384 225.329 14.6885 224.279 14.6885C223.428 14.6885 222.68 15.2786 222.076 16.1897L220.244 15.1023Z" fill="#DDDAD3"/>
<path d="M224.286 14.6881C223.438 14.6881 222.691 15.2782 222.088 16.1892C221.235 17.4768 220.712 19.3943 220.712 21.2359C220.712 21.9954 220.711 22.5668 220.929 22.9195L219.265 24.1381C218.795 23.3557 218.546 22.3563 218.546 21.1865C218.546 19.0594 219.133 16.8148 220.244 15.1023C221.229 13.5838 222.665 12.5219 224.295 12.5219L224.286 14.6881Z" fill="#DDDAD3"/>
<path opacity="0.05" d="M227.501 17.1878L227.371 17.3828L227.245 17.5821C227.553 18.0283 227.904 18.5655 228.272 19.1807L228.363 19.0204C228.372 19.0031 228.385 18.9814 228.398 18.9641C228.437 18.8904 228.48 18.8168 228.519 18.7431C228.16 18.1539 227.813 17.6297 227.501 17.1878ZM228.918 15.1257C228.87 15.1863 228.827 15.247 228.783 15.3076C229.1 15.7018 229.42 16.1481 229.758 16.6506C229.801 16.5813 229.845 16.5163 229.888 16.4513C229.905 16.4253 229.918 16.4037 229.936 16.382C229.962 16.3387 229.992 16.2997 230.018 16.2607C229.689 15.7755 229.368 15.3379 229.052 14.948C229.009 15.0043 228.961 15.065 228.918 15.1257Z" fill="#DDDAD3"/>
<path opacity="0.07" d="M227.501 17.1878L227.371 17.3828C227.679 17.8247 228.025 18.3532 228.398 18.9641C228.437 18.8904 228.48 18.8168 228.519 18.7431C228.159 18.1539 227.813 17.6297 227.501 17.1878ZM228.783 15.3076C229.1 15.7018 229.42 16.1481 229.758 16.6506C229.801 16.5813 229.845 16.5163 229.888 16.4513C229.554 15.9574 229.23 15.5155 228.918 15.1256C228.87 15.1863 228.827 15.2469 228.783 15.3076Z" fill="#DDDAD3"/>
</g>
<rect x="258.201" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="258.201" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path d="M279.091 22.1465H278.114V14.5398H280.705C281.362 14.5398 281.922 14.7588 282.38 15.1966C282.849 15.6345 283.083 16.1691 283.083 16.8004C283.083 17.4471 282.849 17.9817 282.38 18.4144C281.927 18.8472 281.367 19.0611 280.705 19.0611H279.091V22.1465ZM279.091 15.4767V18.1293H280.725C281.112 18.1293 281.438 17.9969 281.693 17.7373C281.953 17.4776 282.085 17.1619 282.085 16.8055C282.085 16.4542 281.953 16.1436 281.693 15.884C281.438 15.6141 281.118 15.4818 280.725 15.4818H279.091V15.4767Z" fill="#DDDAD3"/>
<path d="M285.639 16.7699C286.362 16.7699 286.932 16.9634 287.349 17.3503C287.767 17.7373 287.976 18.2668 287.976 18.9389V22.1465H287.044V21.4235H287.003C286.601 22.0192 286.061 22.3145 285.389 22.3145C284.814 22.3145 284.335 22.1465 283.948 21.8054C283.561 21.4642 283.368 21.0417 283.368 20.5325C283.368 19.9928 283.572 19.5651 283.979 19.2494C284.386 18.9287 284.931 18.7709 285.608 18.7709C286.189 18.7709 286.667 18.8778 287.039 19.0916V18.8676C287.039 18.5265 286.906 18.2413 286.637 18.002C286.367 17.7627 286.051 17.6456 285.69 17.6456C285.145 17.6456 284.712 17.8748 284.396 18.3381L283.536 17.7984C284.009 17.111 284.712 16.7699 285.639 16.7699ZM284.376 20.5478C284.376 20.8024 284.483 21.0162 284.702 21.1842C284.916 21.3522 285.17 21.4388 285.46 21.4388C285.873 21.4388 286.239 21.286 286.56 20.9806C286.881 20.6751 287.044 20.3187 287.044 19.9063C286.738 19.667 286.316 19.5448 285.771 19.5448C285.374 19.5448 285.043 19.6415 284.778 19.8299C284.508 20.0284 284.376 20.2677 284.376 20.5478Z" fill="#DDDAD3"/>
<path d="M293.291 16.938L290.033 24.4326H289.025L290.236 21.8105L288.088 16.938H289.152L290.7 20.6751H290.72L292.227 16.938H293.291Z" fill="#DDDAD3"/>
<path d="M275.203 18.445C275.203 18.1263 275.174 17.8213 275.121 17.528H271.024V19.2082L273.384 19.2087C273.288 19.7678 272.98 20.2443 272.508 20.562V21.6521H273.913C274.733 20.893 275.203 19.7708 275.203 18.445Z" fill="#DDDAD3"/>
<path d="M272.508 20.5621C272.117 20.8258 271.614 20.9801 271.025 20.9801C269.887 20.9801 268.921 20.2133 268.576 19.1798H267.127V20.304C267.845 21.7285 269.32 22.7061 271.025 22.7061C272.203 22.7061 273.193 22.3186 273.913 21.6517L272.508 20.5621Z" fill="#DDDAD3"/>
<path d="M268.439 18.3457C268.439 18.0555 268.488 17.775 268.576 17.5112V16.387H267.127C266.83 16.9761 266.663 17.641 266.663 18.3457C266.663 19.0504 266.83 19.7153 267.127 20.3044L268.576 19.1802C268.488 18.9165 268.439 18.6359 268.439 18.3457Z" fill="#DDDAD3"/>
<path d="M271.025 15.7109C271.668 15.7109 272.244 15.9324 272.698 16.3651L273.943 15.1213C273.187 14.4171 272.201 13.9849 271.025 13.9849C269.321 13.9849 267.845 14.9624 267.127 16.387L268.576 17.5112C268.921 16.4776 269.887 15.7109 271.025 15.7109Z" fill="#DDDAD3"/>
<rect x="309.664" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="309.664" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M331.421 24.7506C333.122 23.4115 334.215 21.3333 334.215 19C334.215 16.6666 333.122 14.5884 331.421 13.2493C332.665 12.2705 334.234 11.6865 335.94 11.6865C339.979 11.6865 343.253 14.9609 343.253 19C343.253 23.0391 339.979 26.3134 335.94 26.3134C334.234 26.3134 332.665 25.7295 331.421 24.7506ZM331.421 24.7506C330.177 25.7295 328.607 26.3134 326.902 26.3134C322.863 26.3134 319.588 23.0391 319.588 19C319.588 14.9609 322.863 11.6865 326.902 11.6865C328.607 11.6865 330.177 12.2705 331.421 13.2493C329.719 14.5884 328.626 16.6666 328.626 19C328.626 21.3333 329.719 23.4115 331.421 24.7506Z" fill="#DDDAD3"/>
<path d="M331.422 24.7507C333.124 23.4117 334.216 21.3335 334.216 19.0001C334.216 16.6667 333.124 14.5886 331.422 13.2495C329.72 14.5886 328.627 16.6667 328.627 19.0001C328.627 21.3335 329.72 23.4117 331.422 24.7507Z" fill="#485047"/>
<rect x="361.126" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="361.126" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M370.53 14.9262H368.024C367.853 14.9262 367.707 15.0508 367.68 15.22L366.667 21.6449C366.647 21.7717 366.745 21.886 366.874 21.886H368.07C368.241 21.886 368.387 21.7613 368.414 21.5918L368.687 19.8589C368.714 19.6892 368.86 19.5648 369.031 19.5648H369.824C371.475 19.5648 372.427 18.7661 372.676 17.1834C372.788 16.491 372.681 15.947 372.357 15.5659C372.001 15.1476 371.369 14.9262 370.53 14.9262ZM370.819 17.2728C370.682 18.1719 369.995 18.1719 369.331 18.1719H368.953L369.218 16.4927C369.234 16.3914 369.322 16.3166 369.424 16.3166H369.598C370.05 16.3166 370.477 16.3166 370.698 16.5745C370.829 16.7284 370.87 16.9569 370.819 17.2728ZM378.021 17.244H376.821C376.718 17.244 376.63 17.3187 376.614 17.4203L376.561 17.7558L376.477 17.6343C376.218 17.2572 375.638 17.1312 375.06 17.1312C373.734 17.1312 372.602 18.1354 372.381 19.5441C372.266 20.2467 372.429 20.9186 372.828 21.3872C373.194 21.818 373.717 21.9975 374.339 21.9975C375.408 21.9975 376 21.3105 376 21.3105L375.947 21.644C375.927 21.7715 376.025 21.8858 376.153 21.8858H377.234C377.406 21.8858 377.55 21.7612 377.578 21.5916L378.226 17.4851C378.247 17.3588 378.149 17.244 378.021 17.244ZM376.348 19.5792C376.232 20.2646 375.688 20.7248 374.994 20.7248C374.646 20.7248 374.367 20.6131 374.188 20.4013C374.011 20.1911 373.944 19.8917 374 19.5584C374.108 18.8787 374.662 18.4036 375.345 18.4036C375.686 18.4036 375.963 18.5167 376.145 18.7303C376.328 18.9461 376.4 19.2472 376.348 19.5792ZM383.206 17.2438H384.412C384.58 17.2438 384.679 17.4332 384.583 17.5717L380.572 23.3601C380.507 23.4538 380.4 23.5096 380.286 23.5096H379.082C378.912 23.5096 378.813 23.3187 378.911 23.1799L380.16 21.4173L378.832 17.52C378.786 17.3845 378.886 17.2438 379.03 17.2438H380.215C380.369 17.2438 380.505 17.3448 380.549 17.4922L381.254 19.8461L382.917 17.3966C382.982 17.3009 383.091 17.2438 383.206 17.2438Z" fill="#DDDAD3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M396.28 21.6443L397.308 15.102C397.324 15.0004 397.412 14.9256 397.514 14.9253H398.672C398.8 14.9253 398.898 15.0399 398.878 15.1667L397.864 21.5912C397.838 21.7608 397.692 21.8854 397.52 21.8854H396.486C396.358 21.8854 396.26 21.7711 396.28 21.6443ZM388.404 14.9256H385.898C385.727 14.9256 385.581 15.0502 385.554 15.2194L384.541 21.6443C384.521 21.7711 384.619 21.8854 384.747 21.8854H386.033C386.152 21.8854 386.255 21.7982 386.273 21.6796L386.561 19.8584C386.587 19.6887 386.733 19.5642 386.905 19.5642H387.697C389.348 19.5642 390.301 18.7655 390.55 17.1829C390.662 16.4905 390.554 15.9464 390.23 15.5653C389.874 15.147 389.243 14.9256 388.404 14.9256ZM388.693 17.2722C388.557 18.1713 387.87 18.1713 387.205 18.1713H386.827L387.093 16.4922C387.109 16.3908 387.196 16.316 387.299 16.316H387.472C387.924 16.316 388.352 16.316 388.572 16.5739C388.704 16.7278 388.744 16.9564 388.693 17.2722ZM395.894 17.2434H394.695C394.592 17.2434 394.504 17.3182 394.489 17.4197L394.436 17.7552L394.352 17.6337C394.092 17.2566 393.513 17.1307 392.935 17.1307C391.609 17.1307 390.476 18.1348 390.256 19.5435C390.142 20.2461 390.304 20.918 390.702 21.3866C391.069 21.8174 391.591 21.9969 392.214 21.9969C393.282 21.9969 393.875 21.31 393.875 21.31L393.821 21.6434C393.801 21.7709 393.899 21.8852 394.028 21.8852H395.108C395.28 21.8852 395.425 21.7606 395.452 21.5911L396.101 17.4845C396.121 17.3582 396.023 17.2434 395.894 17.2434ZM394.221 19.5786C394.106 20.2641 393.562 20.7242 392.868 20.7242C392.52 20.7242 392.241 20.6125 392.062 20.4007C391.884 20.1905 391.818 19.8911 391.874 19.5578C391.982 18.8781 392.535 18.403 393.218 18.403C393.559 18.403 393.836 18.5161 394.019 18.7297C394.202 18.9456 394.275 19.2467 394.221 19.5786Z" fill="#DDDAD3"/>
<rect x="412.589" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="412.589" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path d="M436.568 16.9375C436.568 18.4943 435.477 19.6054 433.952 19.6054H432.516C432.5 19.6053 432.485 19.6084 432.47 19.6145C432.455 19.6206 432.442 19.6295 432.431 19.6408C432.408 19.6634 432.396 19.6941 432.396 19.726V21.7721C432.395 21.8041 432.383 21.8348 432.36 21.8574C432.337 21.88 432.307 21.8927 432.275 21.8928H431.269C431.237 21.8928 431.207 21.88 431.184 21.8574C431.162 21.8348 431.149 21.8041 431.149 21.7721V14.3904C431.149 14.3584 431.162 14.3277 431.184 14.3051C431.207 14.2825 431.237 14.2697 431.269 14.2697H433.959C435.477 14.268 436.568 15.3791 436.568 16.9375ZM435.315 16.9375C435.315 16.0427 434.705 15.3891 433.877 15.3891H432.516C432.5 15.389 432.485 15.3921 432.47 15.3982C432.455 15.4042 432.442 15.4131 432.431 15.4243C432.42 15.4355 432.411 15.4489 432.405 15.4635C432.399 15.4782 432.396 15.4939 432.396 15.5097V18.3585C432.396 18.3744 432.399 18.3901 432.405 18.4047C432.411 18.4194 432.42 18.4327 432.431 18.4439C432.442 18.4552 432.455 18.464 432.47 18.4701C432.485 18.4761 432.5 18.4792 432.516 18.4792H433.877C434.705 18.4843 435.315 17.8307 435.315 16.9375ZM436.867 20.4769C436.856 20.2381 436.906 20.0006 437.01 19.7858C437.115 19.5709 437.272 19.3857 437.466 19.2468C437.859 18.9519 438.472 18.7993 439.372 18.7674L440.33 18.734V18.4508C440.33 17.8843 439.95 17.6447 439.34 17.6447C438.73 17.6447 438.343 17.861 438.254 18.2146C438.247 18.2393 438.232 18.261 438.211 18.2761C438.19 18.2913 438.164 18.2991 438.138 18.2983H437.192C437.174 18.2987 437.157 18.2953 437.141 18.2883C437.125 18.2813 437.111 18.2708 437.099 18.2577C437.088 18.2446 437.079 18.2291 437.074 18.2123C437.069 18.1956 437.068 18.178 437.071 18.1607C437.212 17.3229 437.909 16.6863 439.384 16.6863C440.952 16.6863 441.518 17.4167 441.518 18.811V21.7721C441.518 21.8043 441.505 21.835 441.482 21.8576C441.459 21.8802 441.428 21.8929 441.396 21.8928H440.441C440.425 21.8929 440.409 21.8898 440.395 21.8837C440.38 21.8777 440.367 21.8688 440.356 21.8576C440.345 21.8464 440.336 21.833 440.33 21.8184C440.323 21.8037 440.32 21.788 440.32 21.7721V21.551C440.321 21.5328 440.316 21.5149 440.305 21.4997C440.295 21.4845 440.281 21.4727 440.264 21.4658C440.247 21.4589 440.229 21.4573 440.211 21.4611C440.193 21.465 440.177 21.4741 440.164 21.4874C439.878 21.7989 439.415 22.0236 438.675 22.0236C437.585 22.0236 436.867 21.4571 436.867 20.4769ZM440.33 19.8349V19.6054L439.089 19.6707C438.435 19.7043 438.055 19.9757 438.055 20.4332C438.055 20.8471 438.403 21.0768 439.013 21.0768C439.841 21.0768 440.33 20.6292 440.33 19.8349ZM442.477 24.13V23.272C442.477 23.2539 442.481 23.2361 442.489 23.2199C442.496 23.2036 442.508 23.1892 442.522 23.1778C442.536 23.1664 442.552 23.1582 442.569 23.154C442.587 23.1497 442.605 23.1493 442.623 23.153C442.769 23.1805 442.918 23.1945 443.067 23.1948C443.323 23.2074 443.576 23.1337 443.786 22.9855C443.995 22.8372 444.148 22.623 444.222 22.3772L444.284 22.1794C444.293 22.1528 444.293 22.1239 444.284 22.0973L442.294 16.9895C442.287 16.9709 442.284 16.9508 442.287 16.931C442.29 16.9009 442.304 16.8731 442.327 16.853C442.349 16.8329 442.378 16.8219 442.408 16.8221H443.372C443.397 16.8221 443.421 16.8297 443.441 16.8437C443.461 16.8578 443.477 16.8776 443.486 16.9007L444.837 20.5036C444.845 20.5277 444.86 20.5486 444.881 20.5634C444.902 20.5782 444.927 20.586 444.952 20.5859C444.978 20.5859 445.002 20.578 445.023 20.5632C445.044 20.5485 445.06 20.5277 445.068 20.5036L446.241 16.9107C446.249 16.8861 446.265 16.8648 446.286 16.8498C446.307 16.8347 446.332 16.8267 446.358 16.8269H447.355C447.375 16.827 447.395 16.8319 447.413 16.8412C447.43 16.8505 447.446 16.864 447.457 16.8805C447.468 16.8969 447.476 16.9159 447.478 16.9357C447.48 16.9556 447.478 16.9757 447.471 16.9945L445.343 22.6669C444.853 23.9859 444.014 24.3227 443.089 24.3227C442.914 24.3274 442.738 24.3065 442.569 24.2607C442.541 24.2533 442.516 24.2361 442.499 24.2121C442.482 24.1883 442.475 24.1592 442.477 24.13ZM424.689 13.844C423.422 13.835 422.2 14.3118 421.273 15.1763C421.234 15.2126 421.209 15.2624 421.204 15.3161C421.199 15.3697 421.214 15.4232 421.247 15.4662L421.82 16.2488C421.838 16.2748 421.862 16.2965 421.89 16.3123C421.918 16.3281 421.949 16.3376 421.981 16.3401C422.013 16.3427 422.045 16.3382 422.075 16.3271C422.105 16.3159 422.132 16.2983 422.155 16.2755C422.488 15.9426 422.884 15.6793 423.32 15.5012C423.756 15.3231 424.223 15.2337 424.694 15.2381C426.659 15.2381 427.687 16.718 427.687 18.1793C427.687 19.7679 426.607 20.8856 425.057 20.9074C423.859 20.9074 422.956 20.1132 422.956 19.064C422.957 18.799 423.017 18.5375 423.132 18.2984C423.246 18.0594 423.412 17.8487 423.618 17.6816C423.661 17.6454 423.689 17.5934 423.695 17.537C423.7 17.4805 423.684 17.4242 423.648 17.3799L423.045 16.6191C423.026 16.5961 423.004 16.577 422.978 16.5628C422.952 16.5487 422.924 16.5399 422.895 16.537C422.866 16.534 422.836 16.5369 422.808 16.5456C422.78 16.5543 422.754 16.5685 422.731 16.5874C422.361 16.8855 422.063 17.2627 421.857 17.6913C421.652 18.1198 421.545 18.5889 421.545 19.0641C421.545 20.8705 423.08 22.2867 425.046 22.2984H425.072C427.407 22.2681 429.094 20.5387 429.094 18.176C429.094 16.0779 427.549 13.844 424.689 13.844Z" fill="#DDDAD3"/>
<g filter="url(#filter4_dd_1_4)">
<rect x="464.156" y="5" width="43.46" height="27.9983" rx="5.01462" fill="#485047"/>
<rect x="464.052" y="4.89553" width="43.6689" height="28.2072" rx="5.11909" stroke="#DDDAD3" stroke-width="0.208942"/>
<path d="M499.187 20.7371C498.82 20.7371 498.664 20.3932 498.664 19.8374C498.664 19.1048 498.831 17.6727 499.644 17.6727C500.011 17.6727 500.133 18.0058 500.133 18.4943C500.133 19.2269 499.955 20.7371 499.187 20.7371ZM499.877 16.0959C497.572 16.0959 496.57 17.8618 496.57 19.749C496.57 21.1811 497.149 22.3248 498.898 22.3248C501.258 22.3248 502.249 20.3931 502.249 18.5278C502.249 17.1176 501.615 16.0959 499.877 16.0959ZM494.608 16.0959C493.84 16.0959 493.283 16.3296 492.693 16.751C492.481 16.3735 492.058 16.0959 491.413 16.0962C490.667 16.0962 490.11 16.3963 489.698 16.6957L489.642 16.1961H487.871L486.925 22.1804H488.996L489.653 17.9839C489.831 17.8948 490.098 17.7728 490.366 17.7728C490.566 17.7728 490.733 17.8394 490.733 18.1395C490.733 18.2169 490.711 18.3389 490.7 18.4389L490.11 22.1803H492.17L492.827 17.9838C493.016 17.8838 493.272 17.7728 493.528 17.7728C493.729 17.7728 493.896 17.8393 493.896 18.1394C493.896 18.2168 493.873 18.3388 493.862 18.4388L493.272 22.1803H495.332L495.967 18.1832C496 17.9728 496.034 17.6508 496.034 17.4288C496.034 16.629 495.666 16.0959 494.608 16.0959ZM485.163 16.0961C484.373 16.0961 483.816 16.3962 483.393 16.6737L483.371 16.196H481.578L480.631 22.1803H482.703L483.36 17.9838C483.538 17.8948 483.805 17.7728 484.072 17.7728C484.273 17.7728 484.44 17.8393 484.44 18.1058C484.44 18.2168 484.406 18.4169 484.395 18.5163L483.816 22.1803H485.876L486.511 18.1832C486.545 17.9728 486.578 17.6508 486.578 17.4288C486.578 16.629 486.21 16.0959 485.163 16.0961ZM477.423 18.6162C477.479 17.9502 477.99 17.4842 478.38 17.4842C478.603 17.4842 478.792 17.6172 478.792 17.8837C478.792 18.4387 477.812 18.6162 477.423 18.6162ZM478.581 16.0959C476.376 16.0959 475.307 18.0058 475.307 19.8045C475.307 21.1922 475.964 22.3023 477.801 22.3023C478.525 22.3023 479.271 22.1468 479.75 21.9137L480.006 20.182C479.327 20.5261 478.804 20.6591 478.258 20.6591C477.756 20.6591 477.378 20.3931 477.378 19.7154C478.514 19.7044 480.474 19.2384 480.474 17.7172C480.474 16.7736 479.795 16.0959 478.581 16.0959ZM472.755 16.4626C472.877 16.7182 472.956 17.0285 472.956 17.4842C472.956 18.3168 472.365 19.5379 471.886 20.315L471.374 16.2069L469.259 16.4071L470.227 22.1803H472.643C473.701 20.7926 475.004 18.8164 475.004 17.2951C475.004 16.8182 474.904 16.4406 474.681 16.074L472.755 16.4626Z" fill="#DDDAD3"/>
</g>
<rect x="515.512" y="4.89552" width="43.6716" height="28.209" rx="5.1194" fill="#485047"/>
<rect x="515.512" y="4.89552" width="43.6716" height="28.209" rx="5.1194" stroke="#DDDAD3" stroke-width="0.208955"/>
<path d="M537.081 14.437L535.054 23.9134H532.603L534.63 14.437H537.081ZM547.395 20.556L548.686 16.9973L549.428 20.556H547.395ZM550.13 23.9134H552.398L550.419 14.437H548.326C547.856 14.437 547.459 14.7106 547.282 15.1323L543.605 23.9134H546.179L546.69 22.4983H549.835L550.13 23.9134ZM543.732 20.8193C543.743 18.3182 540.273 18.1805 540.297 17.0632C540.305 16.7228 540.629 16.3617 541.337 16.269C541.689 16.2231 542.656 16.188 543.754 16.6934L544.185 14.6839C543.595 14.4697 542.835 14.2637 541.891 14.2637C539.468 14.2637 537.763 15.5519 537.749 17.3965C537.733 18.7606 538.966 19.5218 539.895 19.9753C540.85 20.4399 541.171 20.7374 541.167 21.1528C541.16 21.789 540.405 22.0691 539.7 22.0802C538.467 22.0997 537.752 21.7476 537.182 21.4819L536.738 23.5583C537.31 23.8213 538.367 24.0499 539.464 24.0616C542.039 24.0616 543.724 22.7893 543.732 20.8193ZM533.578 14.437L529.607 23.9134H527.015L525.061 16.3506C524.942 15.8848 524.839 15.7144 524.478 15.518C523.889 15.1986 522.916 14.8983 522.059 14.7124L522.118 14.437H526.289C526.821 14.437 527.299 14.791 527.42 15.4031L528.452 20.8871L531.003 14.437H533.578Z" fill="#DDDAD3"/>
<defs>
<filter id="filter0_dd_1_4" x="95.3588" y="0.6122" width="60.5933" height="45.1316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="0.417885"/>
<feGaussianBlur stdDeviation="2.08942"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4.17885"/>
<feGaussianBlur stdDeviation="4.17885"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_1_4" result="effect2_dropShadow_1_4"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1_4" result="shape"/>
</filter>
<filter id="filter1_dd_1_4" x="146.819" y="0.6122" width="60.5933" height="45.1316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="0.417885"/>
<feGaussianBlur stdDeviation="2.08942"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4.17885"/>
<feGaussianBlur stdDeviation="4.17885"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_1_4" result="effect2_dropShadow_1_4"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1_4" result="shape"/>
</filter>
<filter id="filter2_i_1_4" x="174.973" y="16.2829" width="5.78048" height="5.88244" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="0.204121" dy="0.306181"/>
<feGaussianBlur stdDeviation="0.204121"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
<feBlend mode="normal" in2="shape" result="effect1_innerShadow_1_4"/>
</filter>
<filter id="filter3_dd_1_4" x="198.279" y="0.6122" width="60.5933" height="45.1316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="0.417885"/>
<feGaussianBlur stdDeviation="2.08942"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4.17885"/>
<feGaussianBlur stdDeviation="4.17885"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_1_4" result="effect2_dropShadow_1_4"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1_4" result="shape"/>
</filter>
<filter id="filter4_dd_1_4" x="455.589" y="0.6122" width="60.5933" height="45.1316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="0.417885"/>
<feGaussianBlur stdDeviation="2.08942"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4.17885"/>
<feGaussianBlur stdDeviation="4.17885"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0 0.717647 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_1_4" result="effect2_dropShadow_1_4"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1_4" result="shape"/>
</filter>
</defs>
</svg>
</li>
          {% comment %}
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%} {% endcomment %}
            </ul>
          </div>
        {%- endif -%}


        {%- if section.settings.policy_menu != blank -%}
          <div class="footer_plicy_links">
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in section.settings.policy_menu.links -%}
                          <li>
                            <span></span><a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
          </div>
                    {%- endif -%}


        
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
    
    </div>
  </div>
</footer>
{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.footer__blocks-wrapper .footer-block__heading').forEach ( heading => {
      const block = heading.parentElement;
      block.classList.add('footer-block__jci-accordion');
      const content = heading.nextElementSibling; 
      heading.addEventListener('click', e => {
        block.classList.toggle('open');

        const headingStyle = window.getComputedStyle(heading);
        const headingOffsetHeight = heading.offsetHeight + parseInt(headingStyle.marginTop) + parseInt(headingStyle.marginBottom);

        const contentStyle = window.getComputedStyle(content);
        let contentOffsetHeight = content.offsetHeight + parseInt(contentStyle.marginTop) + parseInt(contentStyle.marginBottom);

        let nextContent = content.nextElementSibling;
        while (nextContent) {
          const nextContentStyle = window.getComputedStyle(nextContent);
          contentOffsetHeight += (nextContent.offsetHeight + parseInt(nextContentStyle.marginTop) + parseInt(nextContentStyle.marginBottom));
          nextContent = nextContent.nextElementSibling;
        }

        if (block.classList.contains('open')) {
          block.style.height = (contentOffsetHeight + headingOffsetHeight) + 'px';
        } else {
          block.style.height = headingOffsetHeight + 'px';
        }
      });

      const headingStyle = window.getComputedStyle(heading);
      const headingOffsetHeight = heading.offsetHeight + parseInt(headingStyle.marginTop) + parseInt(headingStyle.marginBottom);
      block.style.height = headingOffsetHeight + 'px';
    });
  });
{% endjavascript %}
{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        },
        {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
          "type": "link_list",
          "id": "policy_menu",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
